---
- name: Set arch for amd64
  ansible.builtin.set_fact:
    vivaldi_arch: [amd64]
  when: ansible_facts.architecture == "x86_64"

- name: Set arch for arm64
  ansible.builtin.set_fact:
    vivaldi_arch: [arm64]
  when: ansible_facts.architecture == "aarch64"

- name: Ensure python3-debian is installed
  ansible.builtin.package:
    name: python3-debian
    state: present
  become: true
  become_user: root

- name: Add Vivaldi repo using key from URL
  ansible.builtin.deb822_repository:
    name: vivaldi
    types: [deb]
    uris: "{{ vivaldi_repo_url }}"
    architectures: "{{ vivaldi_arch }}"
    components: [main]
    suites: [stable]
    signed_by: "{{ vivaldi_key_url }}"
    state: present
    enabled: true
  become: true
  become_user: root

# If you end up here by searching some bug or strange behavior concerning repositories, read the readme first please
- name: Remove old vivaldi.list file
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/vivaldi.list
    state: absent
  become: true
  become_user: root

- name: Install Vivaldi Stable
  ansible.builtin.apt:
    name: vivaldi-stable
    update_cache: true
    state: present
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Configure Vivaldi as default application
  ansible.builtin.include_tasks: set_default_app.yml
  loop: "{{ vivaldi_os_users }}"
